In [1]:
import pandas as pd

In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
import time

In [3]:
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless= False)

In [4]:
url = "https://www.indeed.com/jobs?q=data+scientist&l="
browser.visit(url)
time.sleep(1)

In [5]:
job_data = []
counter=0
scraping = True
while scraping == True:
    time.sleep(1)
    counter = counter+1
    print(f"COUNTER: {counter}")
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    jobs = soup.find_all("div", class_ = "jobsearch-SerpJobCard")

    for job in jobs:
        job_info = {}
        job_info["title"] = job.find("div", class_="title").a["title"]
        try:
            job_info["salary"] = job.find("div", class_ = "salarySnippet").text
        except:
            job_info["salary"] = "Unknown"
        try:
            job_info["location"] = job.find("div", class_="recJobLoc")["data-rc-loc"]
        except:
            job_info["location"] = "Unknown"
        try:
            job_info["company"] = job.find("span", class_="company").text
        except:
            job_info["company"] = "Unknown"
        job_data.append(job_info)
    try:
        print(browser.find_by_css(".np").last.text.lower())
        if "next" in browser.find_by_css(".np").last.text.lower():
            try:
                browser.find_by_css("#popover-x").click()
            except:
                 pass
            print(browser.find_by_css(".np").last.text.lower())
            browser.find_by_css(".np").last.click()
            time.sleep(1)
            print("next clicked")
        else:
            browser.find_by_css("#popover-x").click()
            scraping = False
    except:
        try:
            if browser.is_element_present_by_id("popover-x"):
                browser.find_by_css("#popover-x").click()
            else:
                scraping=False
        except:
             pass
print(job_data)

COUNTER: 1
next »
next »
[{'title': 'Data Scientist', 'salary': 'Unknown', 'location': 'Morrisville, NC', 'company': '\n\n        Valassis Digital'}, {'title': 'Data Scientist', 'salary': 'Unknown', 'location': 'Long Beach, CA', 'company': '\n        TechMileage Software Solutions'}, {'title': 'Data Scientist', 'salary': 'Unknown', 'location': 'Chicago, IL', 'company': '\n\n        Echo Global Logistics'}, {'title': 'Data Scientist', 'salary': '\n\n\n                            $67,968 - $126,062 a year\n\n', 'location': 'Washington, DC', 'company': '\n\n        Central Intelligence Agency'}, {'title': 'Data Scientist', 'salary': 'Unknown', 'location': 'Flowery Branch, GA', 'company': '\n        Capital Lighting Fixture Company'}, {'title': 'Data Scientist', 'salary': 'Unknown', 'location': 'Seattle, WA', 'company': '\n\n        red violet'}, {'title': 'Data Scientist', 'salary': 'Unknown', 'location': 'Austin, TX', 'company': '\n        NarrativeDx'}, {'title': 'Data Scientist - Sports', 'salary': '\n\n\n                            $80,000 - $110,000 a year\n\n', 'location': 'Austin, TX', 'company': '\n        Zelus Analytics'}, {'title': 'Chemical Data Scientist', 'salary': '\n\n\n                            $4,301 - $4,745 a month\n\n', 'location': 'Austin, TX', 'company': '\n\n        Texas Commission on Environmental Quality'}, {'title': 'Junior Data Scientist - Client Technical Specialist', 'salary': '\n\n\n                            $70,000 - $110,000 a year\n\n', 'location': 'Austin, TX', 'company': '\n\n        IBM'}, {'title': 'Data Scientist - Entry Level', 'salary': 'Unknown', 'location': 'Sacramento, CA', 'company': '\n        Numerdox'}, {'title': 'Healthcare Data Scientist', 'salary': 'Unknown', 'location': 'Austin, TX', 'company': '\n\n        ClosedLoop.ai'}, {'title': 'Full Time Opportunities for Students or Recent Graduates: Data & Applied Sciences', 'salary': 'Unknown', 'location': 'Redmond, WA', 'company': '\n\n        Microsoft'}, {'title': 'Data Scientist', 'salary': 'Unknown', 'location': 'Austin, TX', 'company': '\n\n        DELL'}, {'title': 'Senior Data Scientist - Sports', 'salary': '\n\n\n                            $110,000 - $140,000 a year\n\n', 'location': 'Austin, TX', 'company': '\n        Zelus Analytics'}, {'title': 'Entry Level Data Scientist', 'salary': 'Unknown', 'location': 'United States', 'company': '\n\n        IBM'}, {'title': 'Data Scientist', 'salary': 'Unknown', 'location': 'Austin, TX', 'company': '\n\n        Amazon.com Services, Inc.'}, {'title': 'Data Scientist', 'salary': 'Unknown', 'location': 'San Francisco, CA', 'company': '\n        BestReviews'}, {'title': 'Data Scientist', 'salary': 'Unknown', 'location': 'Washington, DC', 'company': '\n        Seen by Indeed'}]

In [6]:
data_scientist_job_df = pd.DataFrame(job_data)
data_scientist_job_df

,company,location,salary,title
0,\n\n Valassis Digital,"Morrisville, NC",Unknown,Data Scientist
1,\n TechMileage Software Solutions,"Long Beach, CA",Unknown,Data Scientist
2,\n\n Echo Global Logistics,"Chicago, IL",Unknown,Data Scientist
3,\n\n Central Intelligence Agency,"Washington, DC","\n\n\n $67,968 - $1...",Data Scientist
4,\n Capital Lighting Fixture Company,"Flowery Branch, GA",Unknown,Data Scientist
5,\n\n red violet,"Seattle, WA",Unknown,Data Scientist
6,\n NarrativeDx,"Austin, TX",Unknown,Data Scientist
7,\n Zelus Analytics,"Austin, TX","\n\n\n $80,000 - $1...",Data Scientist - Sports
8,\n\n Texas Commission on Environmental ...,"Austin, TX","\n\n\n $4,301 - $4,...",Chemical Data Scientist
9,\n\n IBM,"Austin, TX","\n\n\n $70,000 - $1...",Junior Data Scientist - Client Technical Speci...
10,\n Numerdox,"Sacramento, CA",Unknown,Data Scientist - Entry Level
11,\n\n ClosedLoop.ai,"Austin, TX",Unknown,Healthcare Data Scientist
12,\n\n Microsoft,"Redmond, WA",Unknown,Full Time Opportunities for Students or Recent...
13,\n\n DELL,"Austin, TX",Unknown,Data Scientist
14,\n Zelus Analytics,"Austin, TX","\n\n\n $110,000 - $...",Senior Data Scientist - Sports
15,\n\n IBM,United States,Unknown,Entry Level Data Scientist
16,"\n\n Amazon.com Services, Inc.","Austin, TX",Unknown,Data Scientist
17,\n BestReviews,"San Francisco, CA",Unknown,Data Scientist
18,\n Seen by Indeed,"Washington, DC",Unknown,Data Scientist

In [7]:
data_scientist_job_df.to_csv("datascientistjobdata.csv", index=False)